/*
CSS rule with globally used class selector
that remains unmangled.
*/
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.welcome {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 3em;
}
