code {
  font-size: 0.9em;
  font-family: monospace;
  white-space: pre;
}

.component_container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.left_component {
  flex: initial;
  margin-bottom: 1em;
  margin-left: 2em;
}

.right_component {
  flex: 0 1 auto;
  margin-left: 2em;
}

@media only screen and (min-width: 1024px) {
  .right_component {
    flex: auto;
    margin-left: 2em;
  }
}
